$color-primary: #0744c9;
$color-primary-light: #8d74fa;
$color-primary-dark: #0d048a;
$color-primary-2: #5945ca;

$color-secondary-light: #fd7575;
$color-secondary-dark: #c72517;

$color-tertiary-light: #2ff5f5;
$color-tertiary-dark: #116568;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
