$color-primary:  #0744c9;
$color-primary-light:  #8d74fa;
$color-primary-dark:  #0d048a;
$color-primary-2: #5945ca;

$color-secondary-light: #fd75e7; 
$color-secondary-dark: #97167b; 

$color-tertiary-light: #f59f2f; 
$color-tertiary-dark: #9e7315; 

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;