.popup {
    background-color: rgba($color-black, 0.8);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    h2 {
        @include respond(tab-port) {
            display: none;
        }
    }

    h3 {
        @include respond(tab-port) {
            text-align: justify;
        }
    }

    .btn--purple {
        @include respond(tab-port) {
            display: inline-block;
        }
    }

    &__content {
        @include absCenter;

        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(0.25);
        transform: translate(-50%, -50%) scale(0.25);
        -webkit-transition: all 0.5s 0.2s;
        transition: all 0.5s 0.2s;

        @include respond(tab-port) {
            padding: 3rem;
            width: 100%;
        }
    }

    &__left {
        width: 33.333333%;
        display: table-cell;

        @include respond(tab-port) {
            display: inline;
        }
    }

    &__right {
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        @include respond(tab-port) {
            display: inline;
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;

        @include respond(tab-port) {
            display: inline-block;
            width: 49%;
        }

        &-scale1 {
            @include respond(tab-port) {
                transform: scale(0.9);
                -webkit-transform: scale(0.9);
                -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -o-transform: scale(0.9);
                box-shadow: 0 2rem 6rem rgba($color-black, 0.2);
            }
        }

        &-scale {
            @include respond(tab-port) {
                transform: scale(1);
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
                box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
            }
        }
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -webkit-column-count: 2;

        -moz-column-count: 2;

        column-count: 2;
        -webkit-column-gap: 4rem;
        -moz-column-gap: 4rem;
        column-gap: 4rem;
        -webkit-column-rule: 1px solid $color-grey-light-2;
        -moz-column-rule: 1px solid $color-grey-light-2;
        column-rule: 1px solid $color-grey-light-2;

        -webkit-hyphens: auto;

        -ms-hyphens: auto;

        hyphens: auto;

        @include respond(tab-port) {
            column-count: auto;
            text-align: justify;
        }
    }

    // oen state of the popus
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            -webkit-transition: all -2s;
            transition: all -2s;
            line-height: 1;
        }

        &:hover {
            color: $color-primary-2;
        }
    }
}
