.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
    background-color: rgba($color-white, 0.6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    -webkit-transform: skewX(-12deg);
    transform: skewX(-12deg);

    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }

    @include respond(phone) {
        transform: skewX(0);
        -webkit-transform: skewX(0);
        -moz-transform: skewX(0);
        -ms-transform: skewX(0);
        -o-transform: skewX(0);
    }

    &__shape {
        // the "shape-outside" property makes a some text float "round" a cirle image
        // the "shape-outside" ppty only works if the float, width and height are defined as done below
        shape-outside: circle(50% at 50% 50%);
        float: left;
        width: 15rem;
        height: 15rem;

        -webkit-clip-path: circle(50% at 50% 50%);

        clip-path: circle(50% at 50% 50%);

        -webkit-transform: translateX(-3rem) skewX(12deg);

        transform: translateX(-3rem) skewX(12deg);
        position: relative;

        @include respond(phone) {
            transform: translate(-3rem) skew(0);
            -webkit-transform: translate(-3rem) skew(0);
            -moz-transform: translate(-3rem) skew(0);
            -ms-transform: translate(-3rem) skew(0);
            -o-transform: translate(-3rem) skew(0);
        }
    }

    &__img {
        height: 100%;
        -webkit-transform: translateX(2rem) scale(1.4);
        transform: translateX(2rem) scale(1.4);
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        &-2 {
            -webkit-transform: translateX(-4rem) scale(1.4);
            transform: translateX(-4rem) scale(1.4);
        }
    }

    &__text {
        -webkit-transform: skewX(12deg);
        transform: skewX(12deg);

        @include respond(phone) {
            transform: skew(0);
            -webkit-transform: skew(0);
            -moz-transform: skew(0);
            -ms-transform: skew(0);
            -o-transform: skew(0);
        }
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, 20%);
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(3px) brightness(70%);
        filter: blur(3px) brightness(70%);

        &-2 {
            -webkit-transform: translateX(-4rem) scale(1);
            transform: translateX(-4rem) scale(1);
        }
    }
}
